body {
  background: #50688f url(../img/bg.png);
  color: #a6c5e4;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 40px;
  margin-bottom: 0;
}

p {
  color: #e0e9ee;
  text-align: justify;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #a6c5e4;
}

a:hover {
  color: #e0e9ee;
}

header {
  width: 960px;
  padding: 140px 0 0;
}

nav {
  float: right;
}

nav a:after {
  color: #e0e9ee;
  content: '\25A0';
  padding: 0 10px;
}

nav a:last-child:after {
  content: normal;
}

.container {
  width: 960px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.main {
  width: 100%;
}

.main h1 a, .post h1 a {
  border-bottom: none;
}

.main h1:before {
  content: '\00bb';
  padding-right: 10px;
}

.main p:before {
  content: '>';
  padding-left: 5px;
  padding-right: 15px;
}

.main p {
  margin: 20px 0;  
  line-height: 20px;
}

.main a {
  color: #a6c5e4;
  text-decoration: none;
  border-bottom: thin solid #a6c5e4;
}

.main a:hover {
  color: #e0e9ee;
}

.main ul {
  margin: 20px;
}

.main ul li {
  list-style-type: square;
}

.post {
  width: 100%;
  clear: left;
  float: left;
}
aside {
  width: 20%;
  padding-left: 10%;
  float: right;
}