body {
  background: #50688f url(../img/bg.png);
}

h1 {
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 40px;
  margin-bottom: 0;
}

p {
  color: #e0e9ee;
  text-align: justify;
}

header {
  padding: 140px 0 40px;
}

nav {
  position: relative;
  float: right;
}

nav>.home, nav>.home:hover {
  display: block;
  position: absolute;
  top: -2px;
  left: -20px;
  width: 20px;
  height: 20px;
  background: url('../img/sprite.png') no-repeat;
}
nav>.home {
  text-indent: -9999px;
  background: url(../img/icon-home.png) no-repeat 0 0;
}
nav>.home:hover {
  background-position: 0 -20px;
}

nav a:before {
  color: #e0e9ee;
  content: '\25A0';
  font-size: 10px;
  padding: 0 10px;
}

nav a:last-child:after {
  content: normal;
}

.main h1 a {
  border-bottom: none;
}

.main h1:before {
  content: '\00bb';
  color: #A6C5E4;
  padding-right: 10px;
}

.main p {
  margin: 20px 0;  
  line-height: 20px;
}

.main p:before {
  content: '>';
  padding-left: 5px;
  padding-right: 15px;
}

.main a {
  color: #a6c5e4;
  text-decoration: none;
  border-bottom: thin solid #a6c5e4;
}

.main a:hover {
  color: #e0e9ee;
}

.main ul {
  margin: 20px;
}

.main ul li {
  list-style-type: square;
}

.post {
  width: 100%;
  clear: left;
  float: left;
}