body {
  background: #50688f url(../img/bg.png);
}

h1 {
  margin-bottom: 0;
  font-size: 1.5em;
  letter-spacing: -1px;
  line-height: 40px;
}
h2 {
  font-size: 1.8em;
}

p {
  margin: 0 0 20px;
  color: #e0e9ee;
  line-height: 1.25em;
  text-align: justify;  
}

a {
  border-bottom: thin solid #a6c5e4;
  color: #a6c5e4;
  text-decoration: none;
}

a:hover {
  color: #e0e9ee;
}

blockquote, blockquote p { font-style: normal; font-size: 14px; line-height: 20px; }
blockquote { margin: 20px 0 20px 20px; padding: 0 20px; border-left: 1px solid #e0e9ee; }
blockquote cite { display: block; font-size: 12px; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { border-bottom: 1px solid #e0e9ee; color: #e0e9ee; }
blockquote cite a:hover, blockquote cite a:focus { border-bottom: 1px solid #a6c5e4; color: #a6c5e4; }


header {
  padding: 140px 0 40px;
}

nav {
  position: relative;
  float: right;
}

nav>.home, nav>.home:hover {
  position: absolute;
  top: -2px;
  left: -20px;
  display: block;
  width: 20px;
  height: 20px;
  background: url('../img/sprite.png') no-repeat;
  text-indent: -9999px;
}
nav>.home {
  background-position: 0 0;
}
nav>.home:hover {
  background-position: 0 -20px;
}

nav a:before {
  padding: 0 10px;
  color: #e0e9ee;
  content: '\25A0';
  font-size: 10px;
}

nav a {
  border-bottom: none;
}

nav a:last-child:after {
  content: normal;
}

.main {
  margin: auto;
  max-width: 720px;
  width: auto;
}

.main h1 a {
  border-bottom: none;
}

.main h1 a.permalink {
  display: inline-block;
  padding: 0 8px;
  vertical-align: middle;
  font-size: 10px;
  line-height: 1;
}

.main h1:before {
  padding-right: 10px;
  color: #A6C5E4;
  content: '\00bb';
}

.main .date {
  display: block;
  line-height: 1;
}

.main blockquote>p:before {
  display: none;
  padding: 0;
  content: '';
}

.main ul {
  margin: 20px;
}

.main ul li {
  list-style-type: square;
}

.post {
  position: relative;
  float: left;
  clear: left;
  margin-bottom: 20px;
  width: 100%;
}

.post p:before {
  position: absolute;
  left: 0;
  display: block;
  content: '>';
}

.post > p {
  margin-left: 20px;
}

.archive>.heading {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.3em;
  text-transform: uppercase;
}
.archive>.link {
  font-size: 16px;
}
.archive>.link>span {
  display: block;
  float: right;
  margin-top: 5px;
  font-size: smaller;
  line-height: 1em;
}